<!DOCTYPE html>
<html lang="en">

<!-- meta and links -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <title>Boolzapp</title>
</head>

<!-- main body -->

<body>
    <!-- Background plate -->
    <div class="back-top"></div>
    <div class="back-bottom"></div>

    <!-- Main App -->
    <div id="app" class="app-window">
        <div class="gen-header">
            <div class="header-left">
                <div class="name-image">
                    <img src="../img/avatar_io.jpg" alt="">
                    <div>Nome Utente</div>
                </div>
                <div class="icons">
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <div class="header-right">
                <div class="name-image">
                    <img src="../img/avatar_1.jpg" alt="">
                    <div>
                        <div>Michele</div>
                        <div class="access">Ultimo accesso oggi alle</div>
                    </div>
                </div>
                <div class="icons">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
        </div>
        <div class="main-body">
            <div class="column-left">
                <div class="notice">
                    <i class="fa-solid fa-bell-slash"></i>
                    <div>
                        <div>Ricevi Notifiche di nuovi messaggi</div>
                        <a href="">Attiva notifiche desktop</a>
                    </div>
                </div>
                <div class="text-field-1">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <label for="fname"></label>
                    <input type="text" id="name" name="name" placeholder="Your name..">
                </div>
                <div class="contact-list">
                    <ol>
                        <li v-for="contact in contacts" :key="contact.name">
                            <img :src="contact.avatar" :alt="contact.name">
                            <div>{{contact.name}}</div>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="column-right">
                <div class="text-visual">
                    <div v-for="message in contact.messages">
                        <div class="mex-rec" v-if="message.Status === 'received'">
                            <div class="received">{{text.messages.message}}</div>
                        </div>
                        <div class="mex-sent" v-if="message.Status === 'sent'">
                            <div class="sent">{{text.messages.message}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-field-2">
                <i class="fa-regular fa-face-smile"></i>
                <label for="message"></label>
                <input type="text" id="name" name="message" placeholder="Scrivi un messaggio">
                <i class="fa-solid fa-microphone"></i>
            </div>
        </div>
    </div>
    </div>

</body>

<!-- Scripts -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="main.js"></script>

</html>